:root {
  --primary-bg: #000411;
  --link-color-primary: #aeb7b3;
  --secondary-bg: #520084;
  --link-color-secondary: #e1efe6;
  --primary-button-hover: #160c28;
}

.App {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  color: white;
  background-color: var(--secondary-bg);
}

.logo {
  max-height: 30vh;
} 

nav {
  display: flex;
  justify-content: center;

}

nav a,
nav h3 {
  text-decoration-color: var(--primary-bg);
  margin: auto 1em;
  color: var(--link-color-primary);
  padding: 5px 10px;
  border-radius: 6px;
  font-weight: 800;
  transition: all 0.2s ease;
}

nav a:hover {
  color: var(--link-color-secondary);
  text-decoration-color: var(--link-color-primary);
}

form,
.input-wrapper {
  margin: auto;
  width: 80%;
}

form label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
}

.anime-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 100vh;
  overflow-y: scroll;
}

.anime-item {
  width: 400px;
  height: 400px;
  border: 1px solid pink;
  border-radius: 25px;
  background-image: var(--poster-img);
  background-size: cover;
}